.get{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
    
  

    .getall,.dope{
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }

    .getall{

        h5{
            font-size: 22px;
        }

        
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
}

